body {
  font-family: 'Ubuntu', sans-serif;
  background-color: rgb(0, 53, 133);
  color: white;
  padding: 2%;
  padding-top: 20px;
  padding-bottom: 20px;


}

h1 {
  color: white;
  font-size: 50px;
  text-align: center;
}

h2 {
  color: white;
  font-size: 20px;
}

.image1 {
  text-align: center;
  margin-bottom: 50px;
}

.lastp {
  color: white;
  margin-top: 50px;
  text-align: center;
  font-style: italic;
  font-size: 17px;
}

a {
    color: white;
}

footer {
  text-align: center;
  color: white;
  padding-top: 50px;
}

.references {
  margin-top: 50px;
}